<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">  <!-- it's important for d3.js -->


    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

  <button style="background-color:#00B7FF; float: right; margin: 5px"><a href="/signin" style="text-decoration: none"> SignIn</a></button>
  <button style="background-color:#00B7FF; float: right; margin: 5px"><a href="/signup" style="text-decoration: none">SignUp</a></button>
  </body>
</html>
